@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 13px;

    --bg-slate-900: #0f172a;
    --bg-slate-800: #1e293b;
    --bg-slate-700: #334155;
    --bg-slate-600: #475569;
    --bg-slate-400: #94a3b8;
    --bg-slate-300: #cbd5e1;
    --bg-slate-200: #e2e8f0;
    --bg-slate-100: #f1f5f9;

    --margin-xs: 2px;
    --margin-s: 4px;

    --padding-s: 4px;
    --padding-m: 8px;

    --border-radius-s: 2px;
}

body {
    margin: 0;
    color: var(--bg-slate-100);
    background-color: var(--bg-slate-900);
}

#root {
    height: 100vh;
    width: 100vw;
}
