.action-button {
    /* Reset */
    text-decoration: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;

    /* Display */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* Visual */
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: var(--bg-slate-100);
    margin: 0 var(--margin-xs);
    border-radius: var(--border-radius-s);
}

.action-button:hover {
    background-color: var(--bg-slate-700);
}

.action-button:active,
.action-button[aria-pressed='true'] {
    background-color: var(--bg-slate-600);
}
