:root {
    --shader-node-size: 100px;
    --shader-label-height: 20px;
    --shader-handle-size: 8px;
}

.react-flow__node-shader {
    width: var(--shader-node-size);
    height: var(--shader-node-size);
    padding: var(--padding-s);

    background-color: var(--bg-slate-900);
}

.react-flow__node-shader.selected {
    background-color: var(--bg-slate-200);
}

.shader-node__label {
    position: absolute;
    height: var(--shader-label-height);
    left: var(--padding-s);
    right: var(--padding-s);
    padding: 0 var(--padding-s);

    text-align: center;
    background-color: #c2410c;

    white-space: ellipsis;
    overflow: hidden;
}

.react-flow__node-shader:hover .shader-node__label {
    background-color: transparent;
}

.shader-node__preview {
    width: 100%;
    height: 100%;
    background-color: black;
}

.react-flow__node-shader .react-flow__handle {
    width: var(--shader-handle-size);
    height: var(--shader-handle-size);
    border-width: 2px;
}
